<div *ngIf="tableType == 'resource'" class="detail-row flex items-center">
  <div
    class="table-header-column flex-1 p-2"
    *ngFor="let columnId of columnOrder"
  >
    {{ data[columnId] }}
  </div>
  <!-- <div class="table-header-column flex-1 p-2" *ngFor="let content of data | keyvalue">{{content.value}}
    </div> -->
</div>

<div *ngIf="tableType == 'project'" class="detail-row flex items-center">
  <div
    class="table-header-column flex-1 p-2"
    *ngFor="let columnId of columnOrder; let first = first"
  >
    <input
      *ngIf="first"
      type="checkbox"
      class="resourceRowCheckbox mr-2"
      [name]="data[columnId]"
      #checkbox
      [value]="data[columnId]"
      [id]="resourceId"
      [checked]="isSelected"
      (change)="selectRowHandler(checkbox.checked, checkbox.id)"
    />{{ data[columnId] }}
  </div>
</div>

<div
  *ngIf="tableType == 'quantity survey'"
  class="detail-row flex items-center"
>
  <div
    class="table-header-column flex-1 p-2"
    *ngFor="let cell of rowDatasArr; let index = index"
  >
    <span
      (click)="cell.isEdit = !cell.isEdit; cell.isTouched = true"
      *ngIf="!cell.isEdit"
      >{{ cell.data }}</span
    >
    <input
      *ngIf="cell.isEdit"
      type="text"
      [(ngModel)]="rowDatasArr[index]['data']"
      value="cell.data"
      (blur)="cell.isEdit = !cell.isEdit; touchedFormulaRowHandler()"
    />
  </div>
</div>
