<app-project-selector
  (selectProjectEvent)="projectSelectionHandler($event)"
></app-project-selector>
<div
  class="grid-cols-2 gap-2 grid justify-center items-start w-screen pt-5 mx-auto transition-transform ease-in duration-300"
>
  <app-table
    [tableType]="tableType"
    [tableDetail]="resourceTableDetail"
    [columnInfo]="resouceColumnInfo"
    (selectedResourceArrEvent)="getSelectedResourceArr($event)"
    [projectTableType]="'resourceTable'"
    [columnOrder]="columnOrder"
  ></app-table>

  <app-table
    [tableType]="tableType"
    [tableDetail]="projectTableDetail"
    [columnInfo]="resouceColumnInfo"
    [projectTableType]="'selectedTable'"
    [columnOrder]="columnOrder"
    (deleteSelectedResourcesEvent)="
      deleteSelectedResourceFromSelectedTable($event)
    "
    [postSelectedResourceFunc]="postSelectedResource"
    [projectId]="projectId"
  ></app-table>
  <div class="text-center">
    <a
      routerLink="/resource"
      class="block text-blue-400 hover:text-blue-600 transition ease-in duration-150"
      >Edit Resource</a
    >
  </div>
</div>

<!-- [ngClass]="{ 'translate-x-1/4': sidebarService.getUpdate() }" -->
